<h1>Flights</h1>

<%= render "search_form" %>

<% unless @flights.nil? %>
	<ul>
		<% @flights.each do |flight| %>
			<li>
			<p><%= Airport.find(flight.departure_airport_id).code %> to
					<%= Airport.find(flight.arrival_airport_id).code %> </p>
			<p><%= flight.start %></p>
      <% unless params[:search].nil? %>

      <% end %>
			</li>
		<% end %>
	</ul>
<% end %>